# Neuro-sama API
neuro_api==1.0.0

# Other external deps
pytz==2025.2
python-dotenv==1.1.0

# PEP 8 style guidelines
flake8==7.2.0
autopep8==2.3.2

# PyInstaller (freezing scripts)
pyinstaller==6.13.0

# Docs
mkdocs==1.6.1
mkdocs-material==9.6.14